body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    border: 1px solid #000000;
    border-radius: 25px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px;
}

th,
td {
    text-align: left;
    padding: 15px;
    border: 1px solid #000000;
}


th {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.text-center {
    text-align: center;
}

.margin-bottom {
    margin-top: 10%;
}

hr {
    color: #000000;
}

.total {
    font-size: 15px;
    font-weight: bold;
}

p {
    font-size: 14px;
}

.br {
    margin-top: 100px;
}